@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
.recipe{ 
	border-radius: 10px; 
	box-shadow: 0px 5px 20px rgb(63, 60, 60); 
	margin: 20px; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-around; 
	background-image: linear-gradient(to right, 
		#e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
		#e2c58b 30%, #c2ce9c 64%, #7edbdc 100%); 
	align-items: center; 
	min-width: 40%; 
	font-family: 'Lobster', cursive; 
} 
.header {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: space-between; /* Add space between the title and the button */
}

.header h1 {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Adjust font size as needed */
}

.favorite {
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor on hover */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Adjust padding as needed */
}

.favorite:focus {
  outline: none; /* Remove focus outline */
}
.favorited{
  fill: red;
}
